/* Light mode */
.lightmode {
  color: #222;
}

.lightmode .navbar p {
  color: #222;
}

.lightmode a {
  color: #616161 !important;
}

.lightmode .initial-input-page p {
  color: #444 !important;
}

.lightmode .search {
  background-color: #fff !important;
}

.lightmode .search input,
.lightmode .search button ,
.lightmode .search-page button
{
  color: #222;
}


.lightmode .search button ,
.lightmode .search-page button
{
  background-color: #e0e0e0 !important;
}

.lightmode .search button:hover {
  background-color: #222;
  color: white;
}

.lightmode .error {
  background-color: #ffcccc;
  border: 1px solid #ff5c5c;
  color: #a00;
}

#mode {
  cursor: pointer;
}

